body {
    background-color: black; /* make page background black */
    color: white; /* make font color white */
}

.spotlightWrapper ul {  
    list-style-type: none; /* remove the default style for list items */  
    margin:0px; /* remove default margin */  
    padding:0px; /* remove default padding */  
}  

.spotlightWrapper ul li {  
    float:left; /* important: left float */  
} 

.spotlightWrapper ul li a img {  
    position:relative; /* for top and left positioning */  
    border:none; /* remove the default border */  
}

.spotlightWrapper ul li a img.active {  
    border:4px solid white; /* choose whatever you like */  
    z-index:1; /* show it on top of the other images (they have z-index 0) */  
    left: -4px; /* same as border width but negative */  
    top: -4px; /* same as border width but negative */  
}

.clear { clear:both; } /* to clear the float after the last item */  